# Caminhos dos bancos DuckDB
DBT_DB_DEV_PATH=C:/caminho/para/seu/projeto/data/banco_dev.duckdb
DBT_DB_PROD_PATH=C:/caminho/para/seu/projeto/data/banco_prod.duckdb

# Diretório de dados processados (Parquet)
DBT_DATA_DIR_PATH=C:/caminho/para/seu/projeto/data/processed
